/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

.body {
    background-color: white;
}

.logo_bandeau {
    width: 35px;
    height: 40px;
    top: 5px;
    left: 20px;
    opacity: 1;
    margin-left: 20px;
}

.barre_bandeau {
    width: 20px;
    height: 12px;
    margin-right: 20px;
    border-width: 2px;
}

.reduction,
.a_propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 379px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-size: cover;
}

.reduction {
    margin-top: 15px;
    background-image: url('../IMAGES/Bloc_reduction.svg');
    justify-content: space-between;
}

.a_propos {
    margin-top: 20px;
    background-image: url('../IMAGES/fond_a_propos.svg');
    justify-content: space-between;
}

.titre_reduc,
.titre_propos {
    font-family: "Sansita Swashed", system-ui;
    font-weight: 500;
    font-size: 24px;
}

.titre_reduc {
    color: #933C24;
}

.titre_propos {
    color: white;
}

.texte_reduc,
.texte_propos {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 50%;
    text-align: center;
}

.texte_reduc {
    color: #5D5D5D;
    max-width: 200px;
}

.texte_propos {
    color: #B9B9B9;
    max-width: 250px;
}

.texte_cafe {
    font-family: "Inter", sans-serif;
    color: #E9BD8C;
    font-size: 14px;
    font-weight: 600;
}

.button_info,
.button_info2 {
    background-color: #933C24;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
}

.button_info {
    margin: 23px 35px;
    padding: 20px 24px;
}

.button_info2 {
    padding: 10px 5px;
    width: fit-content;
    border-radius: 8px;
    border: 1px solid #000000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.accueil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url('../IMAGES/photo accueil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.contenu_accueil {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 21px;
    align-items: flex-start;
}

.texte_accueil {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.texte_accueil p {
    margin: 0;
}

.texte_2cafe {
    font-family: "Sansita Swashed", system-ui;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
}

.top_produits,
.nous_decouvrir,
.petit_plaisir_titre {
    font-family: Sansita Swashed;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: black;
    margin: 30px 0;
}

/* Sélectionne toutes les classes qui commencent par produits */
[class^="produits"] {
    background-image: url(../IMAGES/Image\ fond\ produits.svg);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    max-width: 360px;
    align-items: center;
    padding: 0 20px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 8px;
}

.liste_produits,
.footer_footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 17px;
    padding: 0 20px;
    box-sizing: border-box;
    justify-items: center;
}

.footer_footer {
    width: 100%;
    gap: 20px;
    border-top: 1px solid #E9BD8D33;
}

.petit_plaisir,
.decouvrir {
    display: grid;
    justify-items: center;
}

.info_produit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-right: 15px;
}

.texte_produits,
.bouton_images_produits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.bouton_images_produits {
    align-items: center;
}

.image_produit {
    background-repeat: no-repeat;
}

.prix,
.nom_bouton {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    max-width: 75%;
}

.nom_bouton {
    font-weight: 500;
}

.bouton_produits {
    background-color: #933C24;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.button_info_produits {
    height: 30px;
    width: 30px;
}

[class^="photo"] {
    border-radius: 8px;
    margin-top: 21px;
}

[class^="texte_photo_plaisirs"] {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.menu_decouvrir {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    border-bottom: 1px solid #D9D9D9;
    margin: 0 auto;
    max-width: 800px;
    width: 95%;
    scrollbar-width: thin;
    overflow-x: auto;
}

.menu_decouvrir p {
    font-family: 'Poppins';
    font-size: 16px;
    color: #5D5D5D;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: normal;
}
/* Styles pour le footer au global*/
footer {
    display: flex;
    background-image: url("../IMAGES/footer_background.svg");
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.logofooter {
    width: 115px;
}

.ligne_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 20px;
    gap: 20px;
}

.texte_suivi {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    color: #E9BD8C;
}

.suivi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.images_suivi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

[class^="logo_footer"] {
    width: 42px;
    height: 42px;
}

.texte_footer {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #E9BD8C;
    text-align: center;
}

.info_footer,
.menu_footer {
    display: flex;
    color: white;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    gap: 0px;
    flex-direction: column;
    align-self: flex-start;
}

.titre_nouveau_delice,
.date_nouveau_delice,
.titre_pain_au_raisin,
.date_pain_au_raisin,
.photos_actualite {
    margin: 0;
    padding: 0;
}

.pain_au_raisin,
.nouveau_delice {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 25px;
}

.date_pain_au_raisin,
.date_nouveau_delice {
    color: #E9BD8C;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.texte_nouveau_delice,
.texte_pain_au_raisin {
    margin-left: 15px;
}

.titre_nouveau_delice,
.titre_pain_au_raisin {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.actualites {
    align-self: flex-start;
    width: 100%;
}

.mentions_legales {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #737373;
    margin: 20px 0;
    max-width: 200px;
}

.a_propos_footer,
.explorer_footer,
.actualites_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0;
}

.texte_bandeau {
    display: none;
}

.texte_bandeau.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #933C24;
    padding: 20px;
    align-items: center;
    gap: 15px;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.texte_bandeau.active a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.texte_bandeau.active a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-burger {
    cursor: pointer;
    z-index: 1001;
    padding: 10px;
}

.menu-burger i {
    font-size: 26px;
    color: #000000;
    transition: transform 0.3s ease;
}

.menu-burger i.fa-xmark {
    transform: rotate(90deg);
    color: #933C24;
}
/*Media queries juste pour la tablette */
@media (min-width: 768px) and (max-width: 1023.98px) {
    .liste_produits,
    .petit_plaisir,
    .decouvrir {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .petit_plaisir>div:last-child {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .footer_footer {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: start;
    }

    .texte_footer {
        text-align: left;
    }

    .info_footer,
    .menu_footer {
        gap: 0px;
    }

    .titre_reduc {
        max-width: 425px;
        font-size: 30px;
    }

    .texte_reduc {
        font-size: 19px;
        max-width: 300px;
    }

    .accueil {
        height: 500px;
    }

    .button_info2 {
        margin-left: 15px;
    }

    .menu_decouvrir p {
        font-size: 20px;
    }
}
/*media queries pour la tablette et le desktop*/
@media (min-width: 768px) {
    .ligne_footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
    }

    .logofooter {
        width: 150px;
    }

    .info_footer p,
    .menu_footer p {
        line-height: 1;
    }

    .suivi {
        flex-direction: row;
        gap: 25px;
        margin-right: 70px;
    }

    .images_suivi {
        gap: 15px;
    }

    .texte_suivi {
        margin: 0;
    }

    .footer_footer {
        padding: 0px 40px 30px 40px;
    }

    .menu_decouvrir {
        justify-content: center;
        margin: 0 auto 30px auto;
        max-width: 800px;
        width: 95%;
        gap: 40px;
    }

    .texte_bandeau.active {
        display: flex;
    }

    .a_propos,
    .reduction {
        gap: 40px;
    }

    header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0px 40px;
        justify-content: flex-start;
    }

    .menu-burger {
        display: none;
    }

    .texte_bandeau {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: static;
        width: auto;
        background-color: transparent;
        padding: 0;
        box-shadow: none;
    }

    .texte_bandeau a {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 22px;
        color: #FFFFFF;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .texte_bandeau a:hover {
        color: #E9BD8C;
    }

    .accueil .contenu_accueil {
        margin-top: 0px;
    }

    .logo_bandeau {
        width: 87px;
        height: 99px;
    }

    .accueil {
        height: 600px;
    }

    .button_info2 {
        margin-left: 15px;
        margin-top: 40px;
        font-size: 24px;
        padding: 24px 38px;
        width: fit-content;
        border-radius: 8px;
        border: 1px solid #000000;
        margin-left: 50px;
    }

    .contenu_accueil {
        margin-left: 70px;
    }

    .texte_cafe {
        font-size: 24px;
    }

    .texte_2cafe {
        font-size: 74px;
        line-height: 1.1;
    }

    .texte_accueil {
        gap: 0px;
    }

    [class^="menu_decouvrir"],
    [class^="texte_photo_plaisirs"] {
        font-size: 24px;
    }

    [class^="texte_photo_plaisirs"] {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .petit_plaisir_titre,
    .top_produits,
    .nous_decouvrir {
        font-size: 60px;
        margin: 90px 0;
    }

    .petit_plaisir {
        margin-bottom: 70px;
    }

    .image_pate,
    .image_donuts,
    .image_brownies {
        height: 360px;
        width: 360px;
    }

    .texte_bandeau {
        margin-left: 10%;
        font-size: 25px;
        gap: 30px;
    }

    .titre_propos {
        font-size: 48px;
    }

    .texte_propos {
        font-size: 30px;
        max-width: 350px;
    }

    .button_info {
        font-size: 24px;
        margin-bottom: 70px;
    }

    [class^="photo_"] {
        height: 350px;
        width: 360px;
    }

    [class^="produits"] {
        height: 411px;
        width: 360px;
        background-size: cover;
        justify-content: space-between;
    }

    .image_produit {
        width: 70%;
        height: auto;
    }

    .button_info_produits {
        height: 39px;
        width: 39px;
    }

    .prix,
    .nom_bouton {
        font-size: 24px;
    }

    .bouton_produits {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .bouton_images_produits {
        gap: 40px;
    }

    .mentions_legales {
        font-size: 24px;
        max-width: 100%;
    }

    .info_footer p,
    .menu_footer p {
        font-weight: 600;
    }
}
/*media queries pour le desktop*/
@media (min-width: 1024px) {
    .liste_produits,
    .petit_plaisir,
    .decouvrir {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .footer_footer {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 40px;
        justify-content: space-between;
        max-width: 1200px;
    }

    .texte_footer {
        text-align: left;
    }

    .titre_reduc {
        max-width: 475px;
        font-size: 36px;
    }

    .texte_reduc {
        font-size: 24px;
        max-width: 350px;
    }

    .accueil {
        height: 700px;
    }

    .menu_decouvrir p {
        font-size: 24px;
    }
}

[class^="produits"],
[class^="photo"],
.plaisirs_pate,
.plaisirs_donuts,
.plaisirs_brownies,
.nouveau_delice,
.pain_au_raisin {
    transition: transform 0.3s ease-in-out;
}

[class^="produits"]:hover,
[class^="photo"]:hover,
.plaisirs_pate:hover,
.plaisirs_donuts:hover,
.plaisirs_brownies:hover,
.nouveau_delice:hover,
.pain_au_raisin:hover {
    transform: scale(1.03);
    z-index: 10;
}

#backToTopButton {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 70px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: #933C24;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-items: center;
    justify-content: center;
}

#backToTopButton:hover {
    background-color: #E9BD8C;
    color: #933C24;
    transform: scale(1.1);
}